<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Tell .NET to use NLog -->
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<!-- NLog configuration (reference to NLog.config) -->
	<nlog configSource="NLog.config" />

	<!-- Other app settings -->
	<appSettings>
		<!-- Download directory for Test Case #3 -->
		<add key="DownloadPath" value="${USERPROFILE}\Downloads" />
	</appSettings>

	<!-- Configure .NET framework (if needed) -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>